In [31]:
import pandas as pd

data = pd.read_excel('/Users/minjikim/Desktop/Data Portofolio/Global Disasters/emdat_disaster.xlsx')
df = pd.DataFrame(data, columns=['Year', 'Disaster Group', 'Disaster Subgroup', 'Disaster Type', 'Country', 'Region', 'Continent', 'Location', 'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month', 'End Day', 'Total Deaths', 'No Injured', "Total Damages, Adjusted ('000 US$)"])
df

,Year,Disaster Group,Disaster Subgroup,Disaster Type,Country,Region,Continent,Location,Start Year,Start Month,Start Day,End Year,End Month,End Day,Total Deaths,No Injured,"Total Damages, Adjusted ('000 US$)"
0,1900,Natural,Climatological,Drought,Cabo Verde,Western Africa,Africa,Countrywide,1900,NaN,NaN,1900,NaN,NaN,11000.0,NaN,NaN
1,1900,Natural,Climatological,Drought,India,Southern Asia,Asia,Bengal,1900,NaN,NaN,1900,NaN,NaN,1250000.0,NaN,NaN
2,1901,Technological,Technological,Industrial accident,Belgium,Western Europe,Europe,Hornu,1901,4.0,27.0,1901,4.0,27.0,18.0,NaN,NaN
3,1902,Natural,Geophysical,Earthquake,Guatemala,Central America,Americas,"Quezaltenango, San Marcos",1902,4.0,18.0,1902,4.0,18.0,2000.0,NaN,843726.0
4,1902,Natural,Geophysical,Volcanic activity,Guatemala,Central America,Americas,NaN,1902,4.0,8.0,1902,4.0,8.0,1000.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26098,2023,Natural,Biological,Epidemic,Zambia,Eastern Africa,Africa,"Chikoma, Mbande, Mzigawa, Chipanji, Mlawe, Eas...",2023,1.0,21.0,2023,1.0,30.0,2.0,118.0,NaN
26099,2023,Technological,Technological,Transport accident,Zambia,Eastern Africa,Africa,Between Chongwe and Siavonga,2023,5.0,13.0,2023,5.0,13.0,24.0,12.0,NaN
26100,2023,Natural,Meteorological,Storm,Zimbabwe,Eastern Africa,Africa,NaN,2023,2.0,24.0,2023,3.0,8.0,NaN,NaN,NaN
26101,2023,Natural,Hydrological,Flood,Serbia,Southern Europe,Europe,Sjenica and Brodarevo Novi Pazar Municipality;...,2023,1.0,18.0,2023,1.0,20.0,2.0,NaN,NaN
26102,2023,Natural,Biological,Epidemic,South Sudan,Northern Africa,Africa,Malakal (Upper Nile state),2023,2.0,22.0,2023,3.0,10.0,1.0,178.0,NaN

In [32]:
df['Start Year'] = df['Start Year'].fillna(0)
df['Start Year'] = df['Start Year'].astype(int)
df['Start Month'] = df['Start Month'].fillna(0)
df['Start Month'] = df['Start Month'].astype(int)
df['Start Day'] = df['Start Day'].fillna(0)
df['Start Day'] = df['Start Day'].astype(int)
df['End Year'] = df['End Year'].fillna(0)
df['End Year'] = df['End Year'].astype(int)
df['End Month'] = df['End Month'].fillna(0)
df['End Month'] = df['End Month'].astype(int)
df['End Day'] = df['End Day'].fillna(0)
df['End Day'] = df['End Day'].astype(int)
df["Total Damages, Adjusted"] = df["Total Damages, Adjusted ('000 US$)"] * 1000

In [41]:
df['Duration'] = 'NaN'

for i in range(0, len(df)): 
    daynum = 0 
    dates = [df['Start Year'][i], df['End Year'][i], df['Start Month'][i], df['End Month'][i], df['Start Day'][i], df['End Day'][i]]
    if (all(dates) == True): 
        if (dates[5] >= dates[4] and dates[3] >= dates[2] and dates[1] >= dates[0]): 
            df['Duration'][i] = (dates[5] - dates[4]) + (dates[3] - dates[2]) * 30 + (dates[1] - dates[0]) * 365 + 1
        elif (dates[5] >= dates[4] and dates[3] < dates[2] and dates[1] > dates[0]): 
            df['Duration'][i] = (dates[5] - dates[4]) + (dates[3] - dates[2] + 12) * 30 + (dates[1] - dates[0] -1) * 365 + 1
        elif (dates[5] < dates[4] and dates[3] > dates[2] and dates[1] >= dates[0]): 
            df['Duration'][i] = (dates[5] - dates[4] + 30) + (dates[3] - dates[2] - 1) * 30 + (dates[1] - dates[0]) * 365 + 1
        elif (dates[5] < dates[4] and dates[3] <= dates[2] and dates[1] > dates[0]): 
            df['Duration'][i] = (dates[5] - dates[4] + 30) + (dates[3] - dates[2] + 11) * 30 + (dates[1] - dates[0] -1) * 365 + 1
            
df

/var/folders/k7/21fyg56j2zq45qx9z4kgbvfw0000gn/T/ipykernel_86551/1564797305.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Duration'][i] = (dates[5] - dates[4]) + (dates[3] - dates[2]) * 30 + (dates[1] - dates[0]) * 365 + 1
/var/folders/k7/21fyg56j2zq45qx9z4kgbvfw0000gn/T/ipykernel_86551/1564797305.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Duration'][i] = (dates[5] - dates[4] + 30) + (dates[3] - dates[2] - 1) * 30 + (dates[1] - dates[0]) * 365 + 1
/var/folders/k7/21fyg56j2zq45qx9z4kgbvfw0000gn/T/ipykernel_86551/1564797305.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Duration'][i] = (dates[5] - dates[4] + 30) + (dates[3] - dates[2] + 11) * 30 + (dates[1] - dates[0] -1) * 365 + 1
/var/folders/k7/21fyg56j2zq45qx9z4kgbvfw0000gn/T/ipykernel_86551/1564797305.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Duration'][i] = (dates[5] - dates[4]) + (dates[3] - dates[2] + 12) * 30 + (dates[1] - dates[0] -1) * 365 + 1

In [43]:
df.to_excel("emdat_disaster_cleaned.xlsx")